<h1> Create choices for your survey</h1>

<form action="/choices/new" method="post">
	<p><label>Choices: </label></p>
	<label>First choice: </label>
		<input type="text" name="choice[one]" placeholder="Chocolate cake">
	<label>Second choice: </label>
		<input type="text" name="choice[two]" placeholder="Cheese cake">
	<label>Third choice: </label>
		<input type="text" name="choice[three]" placeholder="Parlova">
	<input type="submit" value="Create choices">
</form>