<h1> You've completed making a survey </h1>

<form action="/logout" method="post">
  <input type="submit" value="Log Out">
</form>

<form action="/surveys" method="get">
  <input type="submit" value="View surveys">
</form>