<h1> Create questions for your survey</h1>

<form action="/questions" method="post">
	<label>Question: </label>
	<input type="text" name="question[desc]" placeholder="What kind of cake do you prefer?">
	<input type="submit" value="Create">
</form>