<h1> Let's create a survey!</h1>

<form action="/surveys" method="post">
	<label>Survey Name: </label>
	<input type="text" name="survey[name]" placeholder="Ruui's Birthday Location Survey">
	<input type="submit" value="Create">
</form>